/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h4 {
    padding-top: 10px;
    font-size: 40px;
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
}

h3 {
    color: #797d80;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    padding-top: 25px;
}

/* Utility*/
.container-menu {
    width: 1170px;
    margin: 0 auto;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.mt-25 {
    margin-top: 25px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mr-50 {
    margin-right: 50px;
}

.w-50 {
    width: 50%;
}

.btn {
    display: block;
    padding: 15px 20px;
    background-color: #fff;
    color: #1fad95;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
}

.btn-reverse {
    background-color: #1fad95;
    color: #fff;
    width: 40%;
    text-align: center;
}

/* App */
/* Header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* Header menu */
.main-header ul.main-menu {
    display: flex;
    list-style: none;
}

.main-header ul.main-menu li {
    margin: 5px;
    padding: 7px;
}

.main-header ul.main-menu li a {
    text-decoration: none;
    color: #3f3a64;
}

/* Header logo */
.main-header .logo img {
    width: 180px;
}

/* Header Search */
.main-header .search i {
    margin: 0 10px;
}

.main-header .search i:last-child {
    color: #20ad9c;
}

.main-header input {
    border: none;
    color: #959594;
    font-size: 14px;
    padding: 5px;
}

/* jumbotron */
.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/home-3-hero-bg.jpg);
    height: 540px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position-x: center;
    background-position-y: center;
    margin-top: 20px;
}

.jumbotron h1, 
.jumbotron h2 {
    color: #fff;
}

.jumbotron h1 {
    font-size: 25px;
    font-weight: 700;
}

.jumbotron h2 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}

.jumbotron a:hover {
    background-color: #20ad96;
    color: #fff;
    transition: background 2s, color 2s;
}

/* Section data */
.data {
    display: flex;
}

.data .description {
    padding-right: 100px;
}

.data .description h3 span {
    color: #6c6c6b;
    font-weight: 700;
}

.data .description h4 span {
    color: #1fad95;
    font-weight: 400;
}

.data .description p {
    color: #797d80;
    font-size: 14px;
    line-height: 1.7;
}

.data .description p:last-child {
    color:  #6c6c6b;
}

.data .description p a {
    color: #1fad95;
    font-weight: 700;
}

.data .image {
    position: relative;
}

.data .image img:first-child {
    width: 450px;
    position: absolute;
    top: 10%;
    left: 25%;
    z-index: 1;
}

.data .image img:nth-child(2) {
    width: 70px;
    position: absolute;
    left: 90%;
    top: -5px;
}

.data .image img:nth-child(3) {
    width: 140px;
    position: absolute;
    top: -8%;
    left: 100%;
    border-radius: 5px;
    z-index: 2;
}

.data .image img:nth-child(4) {
    width: 90px;
    position: absolute;
    top: 80%;
    left: 95%;
    z-index: 2;
}

.data .image img:last-child {
    width: 65px;
    position: absolute;
    top: 0;
    left: 0;
}

.data-number {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.data-number .data-box h5 {
    color: #20ad96;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.data-number .data-box span {
    display: block;
    color: #6c6c6b;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 10px;
}

/* Section youtube */
.youtube {
    display: flex;
}

.youtube .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
}

.youtube .image img:first-child {
    width: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.youtube .image img:nth-child(2) {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.youtube .image img:nth-child(3) {
    position: absolute;
    top: 40px;
    left: -85px;
}

.youtube .image img:nth-child(4) {
    position: absolute;
    top: -30px;
    right: -110px;
    width: 50px;
}

.youtube .image img:last-child {
    position: absolute;
    bottom: -90px;
    right: -20px;
}

.youtube .description {
    width: 50%;
    padding-left: 80px;
}

.youtube .description h4 span {
    color: #20ad96;
    font-weight: 400;
}

.youtube .description p {
    color: #797d80;
    line-height: 1.7;
    padding: 10px 0;
}

/* Section online */
.online {
    text-align: center;
}

.online h4 span {
    color: #20ad96;
    font-weight: 400;
}

.online .offers {
    display: flex;
    justify-content: space-around;
}

.online .offers .offer {
    flex-basis: calc(100% / 3);
}

.online .offers .offer img {
    width: 280px;
}

.online .offers .offer h5 {
    color: #20ad96;
    font-weight: 700;
    font-size: 24px;
    padding-top: 10px;
}

.online .offers .offer h5 span {
    font-size: 20px;
}

.online .offers .offer h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    padding-top: 10px;
    padding-bottom: 30px;
}

.online .offers .offer h5,
.online .offers .offer h6 {
    text-align: left;
    padding-left: 20px;
    padding-right: 30px;
}

.online .offers .offer:hover h6 {
    color: #20ad96;
    cursor: pointer;
}

.online .offers .offer .info span {
    font-size: 15px;
    color: #8c89a2;
    padding-right: 30px;
    cursor: pointer;
}

.online .offers .offer .info i {
    font-size: 14px;
    padding-right: 5px;
    color: #8c89a2;
    cursor: pointer;
}

.online .circle {
    text-align: center;
}

.online .circle i:first-child {
    font-size: 22px;
    color: #000;
    font-size: 12px;
}

.online .circle i {
    font-size: 15px;
    color: #8c89a2;
    font-size: 8px;
    padding: 0 8px;
    cursor: pointer;
}

.online .circle p {
    color: #797d80;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    padding-top: 50px;
}

.online .circle a {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

/* Section testimonials */
.testimonials {
    position: relative;
    margin-top: 300px;
    display: flex;
}

.testimonials .over-section {
    position: absolute;
    top: -100px;
    right: 0;
    opacity: .2;
}

.testimonials .over-section h6 {
    font-size: 16px;
}

.testimonials .over-section p {
    font-size: 14px;
    font-weight: 500;
}

.testimonials .description span {
    text-transform: uppercase;
    color: #797d80;
    font-size: 15px;
    font-weight: 500;
}

.testimonials .description h4 {
    text-transform: capitalize;
    color: #000;
    font-size: 40px;
    font-weight: 700;
}

.testimonials .description h4 span {
    color: #20ad96;
    font-size: 40px;
    font-weight: 400;
}

.testimonials .description p {
    color: #797d80;
    line-height: 1.7;
    padding: 10px 0;
}

.testimonials .description a {
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    padding-top: 25px;
}

.testimonials .image h6 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
}

.testimonials .image p {
    font-size: 16px;
    color: #797d80;
    line-height: 1.7;
    font-weight: 500;
}

.testimonials .image img {
    width: 80px;
    border-radius: 50%;
    margin-top: 30px;
    vertical-align: middle;
    margin-right: 20px;
}

.testimonials .image .contact {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.testimonials .image .contact h6 {
    text-transform: uppercase;
}

.testimonials .image .contact span {
    font-size: 14px;
    color: #797d80;
}

.testimonials .image .faded {
    margin-top: 30px;
    opacity: .4;
    margin-left: 90px;
    box-shadow: -10px 40px 8px -10px #797d805c inset;
}

.testimonials .image .faded img {
    width: 80px;
    border-radius: 50%;
    margin-top: 5px;
    vertical-align: middle;
    margin-right: 20px;
}

/* Section trasform */
.trasform {
    display: flex;
}

.trasform .image {
    position: relative;
}

.trasform .image img:first-child {
    position: relative;
    width: 100%;
    z-index: 1;
}

.trasform .image img:nth-child(2) {
    position: absolute;
    top: 100px;
    left: -100px;
}

.trasform .image img:nth-child(3) {
    position: absolute;
    bottom: -40px;
    left: 185px;
    width: 120px;
}

.trasform .image img:nth-child(4) {
    position: absolute;
    top: -45px;
    right: -180px;
}

.trasform .image img:last-child {
    position: absolute;
    top: 340px;
    left: -250px;
}

.trasform .description h3 span {
    color: #000;
    font-weight: 500;
}

.trasform .description h4 span {
    font-size: 40px;
    color: #20ad96;
    font-weight: 400;
}

.trasform .description p {
    color: #797d80;
    line-height: 1.7;
    padding: 10px 0;
}

.trasform .description a {
    font-weight: 700;
    transition: background 2s, color 2s;
}

.trasform .description a:hover {
    background-color: #fff;
    color: #20ad96;
}

/* Section blogs */
.blogs {
    margin-top: 200px;
}

.blogs h4 span {
    color: #20ad96;
    font-weight: 400;
}

.blogs .blogger {
    display: flex;
    justify-content: space-around;
}

.blogs .blogger .blog {
    flex-basis: calc(100% / 3);
    margin: 0 10px;
}

.blogs .blogger .blog img {
    width: 100%;
}

.blogs .blogger .blog h5 {
    color: #797d80;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0;
}

.blogs .blogger .blog h6 {
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.7;
    padding-bottom: 20px;
}

.blogs .blogger .blog span,
.blogs .blogger .blog i {
    color: #797d80;
    font-size: 15px;
}

.blogs .blogger .blog span {
    padding-right: 30px;
}

/* Footer */
.footer {
    height: 400px;
    background-color: #171621;
    position: relative;
}

.footer a.arrow-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #20ad96;
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 94%;
}

.footer a.arrow-up i {
    font-size: 30px;
    color: #fff;
}

.footer span.copyright {
    color: #ababaa;
    display: block;
    text-align: center;
    margin-top: 100px;
}

.footer .main-footer {
    display: flex;
    padding-top: 50px;
}

.footer .main-footer h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 15px;
}

/* Left footer */
.footer .main-footer .left-footer span {
    color: #ababaa;
    font-size: 14px;
    line-height: 2.5;
}

.footer .main-footer .left-footer span a {
    color: #ababaa;
    text-decoration: none;
}

.footer .main-footer .left-footer .social {
    padding-top: 30px;
}

.footer .main-footer .left-footer .social i {
    color: #ababaa;
    font-size: 22px;
    padding: 0 10px;
    cursor: pointer;
    transition: color, 1s;
}

.footer .main-footer .left-footer .social i:hover {
    color: #fff;
}

/* Right footer */
.footer .main-footer .right-footer {
    display: flex;
}

.footer .main-footer .right-footer .explore {
    display: flex;
}

.footer .main-footer .right-footer .explore .first-explore {
    position: relative;
    top: 40px;
    left: -60px;
}

.footer .main-footer .right-footer .explore .last-explore {
    position: relative;
    top: 40px;
    left: 0;
}

.footer .main-footer .right-footer ul {
    list-style: none;
}

.footer .main-footer .right-footer ul li a {
    color: #ababaa;
    font-size: 15px;
    text-decoration: none;
    line-height: 2.5;
}

.footer .main-footer ul li a:hover {
    color: #fff;
}

.footer .main-footer .right-footer .information {
    margin-left: 50px;
}
